body {
    background-color: lemonchiffon;
}

.calculatorposition {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.display {
    border-radius: 5px;
    background-color: white;
    width: 215px;
    height: 50px;
}

.buttons {
    background-color: lightblue;
    color: white;
    border-color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.buttons:hover {background-color: lightgray;}