/*.body {
  background-color: #F9F9F9;
}

/*Navigation Bar*/
.navbar {
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    //*padding: 10px;*//
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    color: white;
    border: none;
    //*padding: 10px;*//
    background-color: inherit;
    font-family: 'Roboto Mono', monospace;
    margin: 0; 
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: #FFCACA;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
  }
  .dropdown-content a:hover {
    color: #FFCACA;
    background-color: white;
    opacity: 50%;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .icon2 {
    display: flex;
    flex-direction: row;
    float: right;
    padding: 10px;
    color: white;
  }

  .icon2:hover {color: #FFCACA}

  .individualicon {
    margin-right: 10px;
  }




.about {
  margin: 300px 300px 100px 300px;
  font-family: 'Roboto Mono', monospace;
}

/*portfolio button div*/
.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  background-color: white;
  width: 100%;
}
.portfolio_btn {
  background-color: #FFE5E5;
  height: 50px;
  width: 200px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  border-radius: 5%;
  letter-spacing: 2px;
}
.portfolio_btn:hover {
  padding-right: 20px;
  padding-left: 20px;
  opacity: 75%;
}

/*Resume*/

.resume{
  margin-top: 200px;
  font-family: 'Montserrat', sans-serif;
}
.section {
  display: flex;
  justify-content: space-around;
  
}
