/*Navigation Bar*/
.navbar {
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    color: white;
    border: none;
    background-color: inherit;
    font-family: 'Roboto Mono', monospace;
    margin: 0; 
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: #FFCACA;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
  }
  .dropdown-content a:hover {
    color: #FFCACA;
    background-color: white;
    opacity: 50%;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .icon {
    display: flex;
    flex-direction: row;
    float: right;
    padding: 10px;
    color: white;
  }

  .individualicon {
    margin-right: 10px;
  }
  .individualicon:hover {color: #FFCACA}

  .title {
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    font-weight: lighter;
    letter-spacing: 10px;
  }
  span {
    opacity: 0;
    transition: all 0.4s ease;
  }

  span.fade {
    opacity: 1;
  }
.subtitle {
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
}

/*About section*/

.about {
  margin: 200px 300px 100px 300px;
  font-family: 'Roboto Mono', monospace;
}

/*portfolio button div*/
.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
  width: 100%;
}
.portfolio_btn {
  background-color: #FFE5E5;
  height: 50px;
  width: 200px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  border-radius: 5%;
  letter-spacing: 2px;
}
.portfolio_btn:hover {
  padding-right: 20px;
  padding-left: 20px;
  opacity: 75%;
}

/*Resume*/

.resume{
  margin-top: 200px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-evenly;
}
.section {
  display: flex;
  flex-direction: column;
}
.belowheading {
  border-bottom: 1px solid black;
  font-family: 'Roboto Mono', monospace;
}
.linkedin {
  color:black;
  font-weight: bold;
}
.linkedin:hover {color: #FFE5E5;}
.smallersection {
  width: 500px;
  height: 300px;
}
.icon2 {
  display: flex;
  flex-direction: row;
  color: black;
  text-decoration: none;
}
.individualicon2 {
  margin: 20px;
  margin-left: 0;
  font-size: large;
  text-align: center;
}

.dot {
  height: 25px;
  width: 25px; 
  border-radius: 50%;
  background-color: #FFE5E5;
  display: inline-block;
  margin: 10px;
}
.dot2 {
  height: 25px;
  width: 25px; 
  border-radius: 50%;
  background-color: #DFDFDF;
  display: inline-block;
  margin: 10px;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 15px;
  margin: 15px;
}
progress::-webkit-progress-bar {
  background-color: #DFDFDF;
}
progress::-webkit-progress-value {
  background-color: #FFE5E5;
}



.grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
}
.contactbar {
  background-color: gray;
  color: white;
  height: 75px;
  display: flex;
  justify-content: space-evenly;
}
.contactbtn {
  height: 30px; 
  width: 100px; 
  color: gray; 
  background-color: white; 
  margin-top: 20px;
  border-radius: 5px;
  border: white;
  text-decoration: none;
}
.contactbtn:hover {background-color: #DFDFDF;}

.footer {
  background-color: #FFE5E5;
  height: 300px;
  color: gray;
  text-align: center;
}
.icon3 {
  display: flex;
  flex-direction: row;
  float: center;
  padding: 50px;
  padding-left: 660px;
  color: gray;
  text-decoration: none;
}
.individualicon3 {
  margin-right: 10px;
}